@charset "utf-8";

.container,
.pageMain,
.tab-control--primary .tab-control__tabs,
.filter__form,
.orderRelate > li,
.imglist,
.pic-uploader,
.area > dd,
.area__cityList,
.dialog-pro-preview .dpp__option-item,
.dialog-pro-preview .dpp__detail-item {
  *zoom: 1;
}

.container:before,
.pageMain:before,
.tab-control--primary .tab-control__tabs:before,
.filter__form:before,
.orderRelate > li:before,
.imglist:before,
.pic-uploader:before,
.area > dd:before,
.area__cityList:before,
.dialog-pro-preview .dpp__option-item:before,
.dialog-pro-preview .dpp__detail-item:before,
.container:after,
.pageMain:after,
.tab-control--primary .tab-control__tabs:after,
.filter__form:after,
.orderRelate > li:after,
.imglist:after,
.pic-uploader:after,
.area > dd:after,
.area__cityList:after,
.dialog-pro-preview .dpp__option-item:after,
.dialog-pro-preview .dpp__detail-item:after {
  content: "";
  display: table;
}

.container:after,
.pageMain:after,
.tab-control--primary .tab-control__tabs:after,
.filter__form:after,
.orderRelate > li:after,
.imglist:after,
.pic-uploader:after,
.area > dd:after,
.area__cityList:after,
.dialog-pro-preview .dpp__option-item:after,
.dialog-pro-preview .dpp__detail-item:after {
  clear: both;
}

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
 * Reboot
 * @module: reboot
 * @author: fisker Cheung <lionkay@gmail.com>
 * @date: {Date}
 * @version: 3.0
 * @description
 * based on
 * 1. bootstrap v4 reboot https://github.com/twbs/bootstrap
 * 2. suitcss https://github.com/suitcss/base
 * 3. sanitize.css https://github.com/jonathantneal/sanitize.css
 */
p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 8px;
}

/* Globals
   ========================================================================== */

@-ms-viewport {
  width: device-width;
}

::-ms-clear {
  display: none;
}

*,
:before,
:after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

:before,
:after {
  text-decoration: inherit;
  vertical-align: inherit;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

label,
button,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
[type="file"],
[type="image"] {
  cursor: pointer;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

::-webkit-slider-thumb {
  cursor: pointer;
}

:disabled::-webkit-slider-thumb {
  cursor: default;
}

::-moz-range-thumb {
  cursor: pointer;
}

:disabled::-moz-range-thumb {
  cursor: default;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

:disabled {
  cursor: default;
}

[disabled] {
  cursor: default;
}

/* Document
   ========================================================================== */
html {
  cursor: default;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizelegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  min-width: 1000px;
}

/* Sections
   ========================================================================== */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Android Emoji", "EmojiOne Mozilla", "Segoe UI Symbol", EmojiSymbols;
 /*  font-size: 87.5%; */
  line-height: 1.5;
 /*  color: #666; */
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
  word-wrap: break-word;
  min-height: 100%;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  text-decoration: none;
  color: #0275d8;
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

a:focus,
a:hover {
  text-decoration: underline;
  color: #014c8c;
  outline-width: 0;
}

img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  width: auto;
  height: auto;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

button,
input {
  padding: 0;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  padding: 0 6px;
  border-width: 1px;
  background-color: transparent;
}

input,
button,
optgroup,
select,
textarea {
  background-color: transparent;
  border: 1px solid #a9a9a9;
  font: inherit;
  color: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  color: #545454;
  background: #ebebe4;
}

input[disabled],
textarea[disabled],
button[disabled],
select[disabled] {
  color: #545454;
  background: #ebebe4;
}

input:-moz-read-only,
textarea:-moz-read-only {
  color: #545454;
  background: #ebebe4;
}

input:read-only,
textarea:read-only {
  color: #545454;
  background: #ebebe4;
}

input[readonly],
textarea[readonly] {
  color: #545454;
  background: #ebebe4;
}

[type="checkbox"],
[type="file"],
[type="radio"],
[type="range"] {
  border-width: 0;
}

[type="checkbox"]:disabled,
[type="file"]:disabled,
[type="radio"]:disabled,
[type="range"]:disabled,
[type="color"]:disabled {
  background-color: transparent;
}

[type="checkbox"][disabled],
[type="file"][disabled],
[type="radio"][disabled],
[type="range"][disabled],
[type="color"][disabled] {
  background-color: transparent;
}

[type="checkbox"]:-moz-read-only,
[type="file"]:-moz-read-only,
[type="radio"]:-moz-read-only,
[type="range"]:-moz-read-only,
[type="color"]:-moz-read-only {
  background-color: transparent;
}

[type="checkbox"]:read-only,
[type="file"]:read-only,
[type="radio"]:read-only,
[type="range"]:read-only,
[type="color"]:read-only {
  background-color: transparent;
}

[type="checkbox"][readonly],
[type="file"][readonly],
[type="radio"][readonly],
[type="range"][readonly],
[type="color"][readonly] {
  background-color: transparent;
}

[type="range"] {
  height: 1.5em;
  width: 12em;
}

::-moz-range-track {
  background: #a9a9a9;
}

[type="number"] {
  width: auto;
}

[type="radio"]:disabled,
[type="checkbox"]:disabled {
  cursor: not-allowed;
}

[type="radio"][disabled],
[type="checkbox"][disabled] {
  cursor: not-allowed;
}

[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"] {
  -webkit-appearance: listbox;
  text-align: left;
}

[type="date"]::-webkit-inner-spin-button,
[type="datetime-local"]::-webkit-inner-spin-button,
[type="month"]::-webkit-inner-spin-button,
[type="time"]::-webkit-inner-spin-button,
[type="week"]::-webkit-inner-spin-button {
  margin-top: auto;
  margin-bottom: auto;
}

textarea {
  resize: vertical;
  overflow: auto;
}

[type="search"] {
  /**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  overflow: visible;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 8px;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  float: none;
}

caption {
  padding-top: 12px;
  padding-bottom: 12px;
}

label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 8px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

.table {
  width: 100%;
  border: 1px solid #eceeef;
}

.table th,
.table td {
  border: 1px solid #eceeef;
  padding: 8px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eee;
}

.table-hover tbody tr:hover {
  background-color: #ececec;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 8px;
}

.u-check {
  margin-bottom: 0;
}

.u-check__indicator {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 1em;
  height: 1em;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  border: 2px solid #a9a9a9;
  padding: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-property: border, -webkit-box-shadow;
  transition-property: border, -webkit-box-shadow;
  transition-property: border, box-shadow;
  transition-property: border, box-shadow, -webkit-box-shadow;
  vertical-align: -0.25em;
}

.u-check__indicator,
.u-check__indicator:before,
.u-check__indicator:after {
  -webkit-transition-duration: 0.28s;
  transition-duration: 0.28s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.u-check__indicator:after {
  content: "";
  display: block;
  -webkit-transition-property: color, background, -webkit-transform;
  transition-property: color, background, -webkit-transform;
  transition-property: color, transform, background;
  transition-property: color, transform, background, -webkit-transform;
  color: inherit;
  width: 100%;
}

.u-check__native-control {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.u-check__native-control:checked ~ .u-check__indicator {
  border-color: currentcolor;
}

.u-check__native-control:focus ~ .u-check__indicator {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.u-check__native-control:disabled ~ .u-check__indicator {
  color: #ebebe4;
  border-color: currentcolor;
}

.u-check__native-control:disabled ~ .u-check__label {
  color: #545454;
}

.u-check--radio .u-check__indicator,
.u-check--round .u-check__indicator,
.u-check--radio-check .u-check__indicator {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.u-check--checkbox .u-check__indicator,
.u-check--radio-check .u-check__indicator {
  -webkit-transition-property: border, background;
  transition-property: border, background;
  padding: 1px;
}

.u-check--checkbox .u-check__indicator:after,
.u-check--radio-check .u-check__indicator:after {
  position: relative;
  height: 50%;
  border-width: 0 0 0.1em 0.1em;
  border-style: solid;
  border-color: transparent;
  -webkit-transform: translateY(25%) rotate(-45deg);
  -ms-transform: translateY(25%) rotate(-45deg);
  transform: translateY(25%) rotate(-45deg);
}

.u-check--checkbox .u-check__native-control:checked ~ .u-check__indicator,
.u-check--radio-check .u-check__native-control:checked ~ .u-check__indicator {
  background: currentcolor;
}

.u-check--checkbox .u-check__native-control:checked ~ .u-check__indicator:after,
.u-check--radio-check .u-check__native-control:checked ~ .u-check__indicator:after {
  border-color: #fff;
}

.u-check--radio .u-check__indicator:after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 100%;
  background: currentcolor;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.u-check--radio .u-check__native-control:checked ~ .u-check__indicator:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.u-check--switch .u-check__indicator,
.u-check--ios-switch .u-check__indicator {
  width: 2em;
  position: relative;
  border-width: 0;
}

.u-check--switch .u-check__indicator:before,
.u-check--ios-switch .u-check__indicator:before {
  content: "";
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background-color: #a9a9a9;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition-property: opacity, background;
  transition-property: opacity, background;
}

.u-check--switch .u-check__indicator:after,
.u-check--ios-switch .u-check__indicator:after {
  top: 0;
  left: 0;
  position: absolute;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  -webkit-transition-property: left, background, -webkit-box-shadow;
  transition-property: left, background, -webkit-box-shadow;
  transition-property: left, background, box-shadow;
  transition-property: left, background, box-shadow, -webkit-box-shadow;
}

.u-check--switch .u-check__native-control:checked ~ .u-check__indicator:before,
.u-check--ios-switch .u-check__native-control:checked ~ .u-check__indicator:before {
  background-color: currentcolor;
}

.u-check--switch .u-check__native-control:checked ~ .u-check__indicator:after,
.u-check--ios-switch .u-check__native-control:checked ~ .u-check__indicator:after {
  left: 1em;
  background-color: currentcolor;
  border-width: 0;
}

.u-check--switch .u-check__native-control:disabled ~ .u-check__indicator:before,
.u-check--ios-switch .u-check__native-control:disabled ~ .u-check__indicator:before {
  background-color: #ebebe4;
}

.u-check--switch .u-check__indicator:after {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.u-check--switch .u-check__native-control:checked ~ .u-check__indicator:before {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.u-check--switch .u-check__native-control:checked ~ .u-check__indicator:after {
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.u-check--switch .u-check__native-control:focus ~ .u-check__indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.u-check--switch .u-check__native-control:focus ~ .u-check__indicator:before {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.u-check--ios-switch .u-check__indicator {
  padding: 0;
}

.u-check--ios-switch .u-check__indicator:after {
  padding: 1px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.u-check--ios-switch .u-check__native-control:checked ~ .u-check__indicator:after {
  background-color: #fff;
}

.dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.dialog__mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.dialog__main {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-height: 100%;
  width: 360px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.dialog__header {
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dialog__close {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/icon-dialog-close.png);
  z-index: 1;
}

.dialog__body {
  padding: 15px;
}

.dialog__footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dialog__footer .btn {
  margin: 0 5px;
  min-width: 80px;
}

.dialog--show {
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
}

.msg__main {
  width: 360px;
}

.msg__body {
  text-align: center;
}

.msg__message {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  font-size:14px;
}

.steps {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.steps:before,
.steps:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #c7c7c7;
  border-top: 1px solid #b7b7b7;
}

.steps__list {
  display: table;
  position: relative;
  z-index: 2;
  width: 100%;
  table-layout: fixed;
  counter-reset: index;
}

.steps__item {
  display: table-cell;
  position: relative;
  counter-increment: index;
}

.steps__item:before {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
  content: "";
  background: url(../images/step-bg.png) 0 0 no-repeat;
  margin-bottom: 5px;
}

.steps__item:first-child:after,
.steps__item:last-child:after {
  position: absolute;
  content: "";
  top: 0;
  width: 50%;
  height: 30px;
  background: #fff;
}

.steps__item:first-child:after {
  left: 0;
}

.steps__item:last-child:after {
  right: 0;
}

.steps__item--current ~ .steps__item:before {
  background-position: 0 -35px;
}

.steps__item p {
  margin-bottom: 0;
  font-size: 12px;
}

.steps__item p:first-child {
  font-size: 14px;
  color: #888;
}

.steps--shop {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.steps--shop:before,
.steps--shop:after {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  height: 16px;
  width: 40px;
  z-index: 3;
  background: #fff url(../images/step-shop-bg.png) no-repeat;
}

.steps--shop:before {
  left: 0;
  background-position: right 0;
}

.steps--shop:after {
  right: 0;
  left: auto;
  background-position: 0 0;
}

.steps--shop .steps__list {
  background: url(../images/step-shop-bg.png) repeat-x 0 -130px;
}

.steps--shop .steps__item:before {
  width: 50px;
  height: 50px;
  content: counter(index);
  background-image: url(../images/step-shop-bg.png);
  background-position: 0 -20px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 -1px 1px #000;
}

.steps--shop .steps__item:first-child:after,
.steps--shop .steps__item:last-child:after {
  display: none;
}

.steps--shop .steps__item p:first-child {
  color: #666;
}

.steps--shop .steps__item--current ~ .steps__item:before {
  background-position: 0 -75px;
}

body {
  background: #eef4f7;
}

textarea {
  resize: none;
}

.al-center {
  text-align: center !important;
}

.al-right {
  text-align: right !important;
}

.al-left {
  text-align: left !important;
}

.icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  background: #000;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding: 8px 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dae3e8;
  color: #1dbee2;
  vertical-align: middle;
}

.btn:before {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: -3px 5px 0 -3px;
  background: #000 no-repeat center;
}

.btn:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33ffffff', endColorstr='#33ffffff');
}

:root .btn:hover:after {
  -webkit-filter: none\9;
  filter: none\9;
}

.btn--big {
  font-size: 16px;
  padding: 10px 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn--primary {
  background: #1dbee2;
  border-color: #1dbee2;
  color: #fff;
}

.btn--dark {
  background: #8499a3;
  border-color: #8499a3;
  color: #fff;
}

.btn--green {
  background: #00c394;
  border-color: #00c394;
  color: #fff;
}

.btn--gray {
  background: #787878;
  border-color: #787878;
  color: #fff;
}

.btn--grayblue {
  background: #8499a3;
  border-color: #8499a3;
  color: #fff;
}

.btn--texthide {
  text-indent: -9999px;
}

.btn--search:before,
.btn--reset:before,
.btn--delete:before,
.btn--add:before {
  content: "";
  background: url(../images/btn-icon.png) no-repeat;
}

.btn--search:before {
  background-position: center 0;
}

.btn--reset:before {
  background-position: center -20px;
}

.btn--delete:before {
  background-position: center -40px;
}

.btn--add:before {
  background-position: center -60px;
}

.btn--more {
  background: #ccc;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
  text-align: center;
}

.btn--more:before {
  content: "";
  width: 50%;
  height: 50%;
  margin: -7px 0 0 -2px;
  border: 1px solid #fff;
  border-width: 2px 2px 0 0;
  background: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.link-normal {
  color: #8499a3;
}

.form {
  color: #8499a3;
}

.form > li {
  margin-top: 20px;
}

.form > li:first-child {
  margin-top: 0;
}

.form__label {
  line-height: 40px;
  margin: 0;
}

.form__content {
  height: 40px;
  line-height: 40px;
}

.form__query {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  border: 1px solid #d2dae2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.form__query:focus {
  color: #666;
}

.form__query--widthauto {
  min-width: 50px !important;
}

.form__edit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.form__text {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.form__query ~ .form__text {
  margin-left: 5px;
}

textarea.form__query {
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.5;
}

.form__date,
.form__search {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
}

.form__date .btn,
.form__search .btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  border-color: tansparent;
  border-left: 0;
  padding: 0;
  background: url(../images/icon-date.png) no-repeat center;
  text-indent: -9999px;
}

.form__date .btn:hover,
.form__search .btn:hover {
  background-color: #eef4f7;
  border-color: #dae3e8;
}

.form__date .form__query {
  width: 140px !important;
}

.form__search .btn {
  background: url(../images/icon-search.png) no-repeat center;
}

.form__file {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100px;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}

.form__price {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
}

.form__price:after {
  content: "元";
}

.form__file {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100px;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}

.form__filetext {
  position: relative;
}

.form__filetext .btn {
  float: right;
  margin: -1px -6px 0 0;
  width: 100px;
  text-align: center;
}

.form .btn {
  line-height: 40px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.form__tip {
  font-size: 12px;
  color: #cecece;
}

.form__checkGroup {
  line-height: 40px;
  margin-bottom: -10px;
}

.form__checkGroup .u-check {
  margin: 0 40px 10px 0;
  vertical-align: top;
}

.form__checkGroup--1 .u-check {
  position: relative;
}

.form__checkGroup--1 .u-check__indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #dae3e8;
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
  background: transparent;
}

.form__checkGroup--1 .u-check__indicator:after {
  display: none;
}

.form__checkGroup--1 .u-check__text {
  position: relative;
  z-index: 3;
  color: #333;
  padding: 0 40px;
}

.form__checkGroup--1 .u-check__native-control:checked ~ .u-check__indicator,
.form__checkGroup--1 .u-check__native-control:disabled {
  border-color: #1dbee2;
  background: #1dbee2;
}

.form__checkGroup--1 .u-check__native-control:checked ~ .u-check__text {
  color: #fff;
}

.form--view > li {
  margin-top: 15px;
}

.form--view .form__query {
  border-color: transparent;
  color: #333;
  line-height: 1.5;
  height: auto;
}

.form--view .form__label {
  line-height: 1.5;
}

.form--view .imglist img {
  width: 150px;
}

.form--view .form__edit .btn {
  line-height: 1.5;
  border: 0;
  height: auto;
}

.info__form > li {
  padding-left: 9em;
}

.info__form > li > .form__label {
  float: left;
  margin-left: -9em;
  width: 9em;
}

.info__form > li.noPadding {
  padding-left: 0 !important;
}

.info__form > li.noPadding > .form__label {
  margin-left: 0;
}

.info__form .btn--add {
  color: #333;
  font-size: 1.5em;
  padding: 0 5px;
  border: 0;
}

.info__form .form__query {
  width: 450px;
  max-width: 100%;
}

.info__form .form__query--short {
  min-width: 200px;
}

.info__form .form__price .form__query {
  width: 100px;
}

.info__form .form__tip {
  margin-top: 3px;
}

.info__form .form__inputGroup > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 40px 10px 0;
}

.info__form .form__inputGroup > li .form__label {
  width: 4em;
  margin-right: 0.5em;
  text-align: right;
}

.info__form .form__inputGroup > li .form__query {
  min-width: 180px;
  width: 180px;
}

.info__form .customize label {
  margin: 0;
}

.info__form .customize .form__query {
  min-width: 100px;
}

.info__form .form__details {
  line-height: normal;
  padding: 10px 0;
}

.info__form .form__details textarea {
  height: 400px;
  display: block;
  width: 100%;
}

.pageMenu {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  height: 65px;
  background: #fff;
  font-size: 16px;
}

.pageMenu .tabHead {
  height: 61px;
  line-height: 61px;
}

.pageTip {
  position: absolute;
  left: 30px;
  right: 40px;
  top: 25px;
  text-align: right;
}

.pageTip a {
  color: #666;
}

.pageTip--left {
  text-align: left;
}

.pageMain {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  padding: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
}

.pageMain:after {
  content: "";
  display: block;
  height: 30px;
}

.pageMain__left {
  float: left;
  width: 60%;
  margin-right: 2%;
}

.pageMain__right {
  float: left;
  width: 38%;
  text-align: right;
}

.pageMain__view {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.pageMain__view img {
  max-width: 100%;
}

.pageMain__content {
  margin-left: 380px;
}

.pageTip + .pageMain {
  top: 60px;
}

.pageMenu + .pageMain {
  top: 95px;
}

.box {
  margin-top: 40px;
}

.box:first-child {
  margin-top: 0;
}

.box__head {
  border-bottom: 1px solid #dae3e8;
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.box__head h2 {
  font-size: 100%;
  font-weight: normal;
}

.innerBox {
  border: 1px solid #dae3e8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
}

.innerBox__head {
  margin-bottom: 15px;
}

.innerBox__head > h2 {
  border-left: 2px solid #1dbee2;
  padding-left: 5px;
  font-size: 14px;
  line-height: 100%;
}

.innerBox__head .rightSide {
  float: right;
}

.pageSubmit {
  text-align: center;
  padding-top: 50px;
  clear: both;
}

.pageSubmit .btn {
  margin: 0 20px;
}

.tabHead {
  padding-left: 50px;
}

.tabHead > li {
  float: left;
  margin-right: 40px;
}

.tabHead > li a {
  display: block;
  padding: 0 5px;
  border-bottom: 4px solid transparent;
  color: #333;
  text-decoration: none;
}

.tabHead > li a:hover {
  border-color: #1dbee2;
}

.tabHead > li.selected a {
  border-color: #1dbee2;
}

.tab-control__tabs {
  margin-bottom: 0;
}

.tab-control__tab {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  border-right: 1px solid #dae3e8;
  line-height: 2.5;
  cursor: pointer;
}

.tab-control__tab:last-child {
  border-right: 0;
}

.tab-control__tab--current {
  color: #1dbee2;
}

.tab-control__content {
  display: none;
}

.tab-control__content--current {
  display: block;
}

.tab-control--primary .tab-control__tabs {
  margin-bottom: 20px;
}

.tab-control--primary .tab-control__tab {
  float: left;
  position: relative;
  border: 1px solid #dae3e8;
  margin-left: -1px;
}

.tab-control--primary .tab-control__tab:first-child {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.tab-control--primary .tab-control__tab:last-child {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.tab-control--primary .tab-control__tab--current {
  z-index: 2;
  border-color: #1dbee2;
}

.tab-control--primary .tab-control__tab--current .tab-control__tab-inner {
  background-color: #1dbee2;
  color: #fff;
}

.tab-control--primary .tab-control__tab-inner {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-bottom: 2px solid transparent;
  padding: 0 30px;
}

.filter {
  margin-bottom: 20px;
}

.filter__form {
  margin: 0 200px -10px 0;
}

.filter__form > li {
  float: left;
  margin: 0 30px 10px 0;
}

.filter__submit {
  float: right;
  text-align: right;
}

.filter__submit .btn {
  margin-left: 10px;
}

.filter .form__query {
  min-width: 140px;
}

.toolbar {
  margin-bottom: 25px;
}

.toolbar .btn {
  margin-right: 10px;
}

.toolbar .rightSide {
  float: right;
}

.table-wrap {
  position: relative;
  overflow: auto;
}

.table-wrap .scrollable-table-head {
  position: absolute;
  top: 0;
  background: #fff;
  left: 0;
  right: 0;
}

.table {
  border-color: #dae3e8;
}

.table tr:nth-child(even) {
  background: #eef4f7;
}

.table th,
.table td {
  border-color: #dae3e8;
  font-weight: normal;
  text-align: center;
}

.table th {
  font-weight: bold;
}

.table .ellipsis {
  overflow: hidden;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table .productItem {
  display: block;
  min-width: 200px;
  text-align: left;
}

.table .productItem__img img {
  max-width: 50px;
  max-height: 50px;
}

.table .productItem__main {
  white-space: normal;
}

.table .userItem {
  display: block;
  min-width: 100px;
}

.table .userItem__img,
.table .userItem__main {
  display: table-cell;
  vertical-align: middle;
}

.table .userItem__img {
  padding-right: 15px;
}

.table .userItem__img img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.table .userItem__main {
  white-space: normal;
}

.table--no-striped tr:nth-child(even) {
  background: none;
}

.table .tr--high-light {
  background: #eef4f7;
}

.btnIconGroup .btn {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0 2px;
  text-indent: -9999px;
  line-height: 30px;
  background: url(../images/btngroup-icon.png) no-repeat center;
  border: 0;
}

.btnIconGroup .btn:hover {
  background-color: #eef4f7;
}

.btnIconGroup .btn--view {
  background-position: center 5px;
}

.btnIconGroup .btn--edit {
  background-position: center -25px;
}

.btnIconGroup .btn--delete {
  background-position: center -55px;
}

.btnIconGroup .btn--add {
  background: transparent;
  text-indent: 0;
}

.productItem {
  color: #888;
}

.productItem__img,
.productItem__main {
  display: table-cell;
  vertical-align: middle;
}

.page {
  margin-top: 20px;
  text-align: right;
  font-size: 0;
}

.page a,
.page span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  padding: 5px;
  min-width: 30px;
  border: 1px solid #dae3e8;
  text-align: center;
  margin-left: -1px;
  color: #8499a3;
}

.page a:hover,
.page a.is-disabled,
.page span {
  background: #C6E2FF;
}

.page > .prev {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.page > .next {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.order .box__head {
  border: 0;
  padding-bottom: 0;
  color: #8499a3;
  font-size: 16px;
}

.order .steps {
  margin-top: 30px;
}

.orderRelate {
  padding: 0 40px;
}

.orderRelate > li {
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px dashed #666;
}

.orderRelate__item {
  float: left;
  width: 40%;
  margin: 0;
}

.orderRelate__item > dt {
  margin-bottom: 8px;
}

.orderRelate__item:first-child {
  margin-right: 15%;
}

.orderRelate__title {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 5em;
  padding-right: 1.5em;
  text-align: justify;
  vertical-align: top;
  height: 1.5em;
  overflow: hidden;
}

.orderRelate__title:after {
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  overflow: hidden;
  height: 0;
}

.orderRelate__title:before {
  content: "\ff1a";
  position: absolute;
  right: 0.5em;
  top: 0;
}

.order {
  margin-bottom: 20px;
}

.u-check__indicator {
  color: #1dbee2;
  border-color: #d7dbde;
  font-size: 20px;
}

.u-check--checkbox .u-check--radio-check .u-check__indicator {
  padding: 2px;
}

.sideBox {
  border: 1px solid #9e9e9e;
  width: 480px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
  margin-bottom: 30px;
  text-align: left;
}

.sideBox__header {
  padding: 5px 15px;
  background: #01c5dd;
  color: #fff;
  font-size: 16px;
}

.sideBox__content img {
  max-width: 100%;
}

.resultTip {
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 30px 0 100px;
}

.resultTip:before {
  display: block;
  content: "";
  width: 80px;
  height: 80px;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.resultTip--finished:before {
  background-image: url(../images/resultTip-finished.png);
}

.resultTip--wrong:before {
  background-image: url(../images/resultTip-wrong.png);
}

.imglist {
  margin-top: -10px;
}

.imglist > li {
  float: left;
  position: relative;
  margin: 10px 10px 0 0;
  border: 1px solid #dae3e8;
}

.article {
  color: .article color-dark;
  padding: 0 50px;
}

.article__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.pic-uploader {
  margin-top: -10px;
}

.pic-uploader > li {
  float: left;
  position: relative;
  width: 190px;
  height: 190px;
  padding: 10px;
  overflow: hidden;
  margin: 10px 10px 0 0;
  border: 1px solid #dae3e8;
}

.pic-uploader > li:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "+";
  font-size: 60px;
  line-height: 190px;
  text-align: center;
  color: #8499a3;
}

.pic-uploader > li:hover,
.pic-uploader > li:hover:before {
  border-color: #1dbee2;
}

.pic-uploader__preview {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.pic-uploader__preview:before {
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.pic-uploader__preview img {
  width: auto;
  max-height: 100%;
  vertical-align: middle;
}

.pic-uploader__file {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 999px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  line-height: normal;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.pic-uploader__clear,
.pic-uploader__label {
  position: absolute;
  right: 0;
}

.pic-uploader__clear {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  z-index: 3;
  background: url(../images/icon-uploader-clear.png) no-repeat center;
  top: 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.pic-uploader__clear:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.pic-uploader__label {
  bottom: 0;
  padding: 5px;
  line-height: 1;
}

.pic-uploader + .form__tip {
  font-size: 14px;
  margin-top: 5px;
  color: #888;
}

.folder {
  margin-top: 10px;
}

.folder:first-child {
  margin-top: 0;
}

.folder__head {
  border: 1px solid #dae3e8;
  background: #eef4f7;
  padding: 15px;
  line-height: 30px;
}

.folder__head .rightSide {
  float: right;
}

.folder__head h2 {
  font-size: 16px;
  color: #8499a3;
  font-weight: normal;
  margin: 0;
}

.folder__content {
  display: none;
  padding: 30px 0;
}

.folder.in .folder__content {
  display: block;
}

.changePassword {
  width: 800px;
  margin: 0 auto;
}

.changePassword .form__query {
  vertical-align: middle;
}

.dialog--area .dialog__main {
  width: 800px;
}

.area {
  padding-left: 120px;
}

.area > dt {
  float: left;
  width: 120px;
  margin-left: -120px;
}

.area label {
  line-height: 20px;
  padding: 5px 10px;
}

.area__item {
  float: left;
  width: 33%;
  position: relative;
}

.area__province {
  position: relative;
  z-index: 2;
}

.area__province label:after {
  content: "";
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 0;
  margin: 4px 0 0 5px;
  overflow: hidden;
  border: 6px solid transparent;
  border-top-color: #000;
  vertical-align: middle;
}

.area__city {
  display: none;
  position: absolute;
  left: 0;
  top: 32px;
  z-index: 1;
  padding: 5px 0;
}

.area__cityList label {
  float: left;
  width: 50%;
}

.area .closeList {
  text-align: right;
  padding: 0 10px;
}

.area__item.in {
  z-index: 8;
}

.area__item.in .area__province label {
  border: 1px solid #dae3e8;
  border-bottom: 0;
  background: #eef4f7;
}

.area__item.in .area__city {
  display: block;
  border: 1px solid #dae3e8;
  background: #eef4f7;
}

.formula {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.formula__main,
.formula__tip {
  display: table-cell;
  vertical-align: middle;
}

.formula__main {
  font-size: 0;
}

.formula__main > div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.formula__main .item {
  font-size: 12px;
  border: 1px solid #dae3e8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  width: 110px;
}

.formula__main .item p {
  margin: 0;
  color: #888;
}

.formula__main .item .price {
  font-size: 18px;
  color: #333;
}

.formula__main .item .price:before {
  content: "¥ ";
}

.formula__main .operator {
  margin: 0 5px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.formula__tip {
  text-align: right;
  color: #888;
}

.traffic {
  display: table;
  width: 100%;
}

.traffic > li {
  display: table-cell;
  border-right: 1px solid #dae3e8;
  text-align: center;
  color: #888;
}

.traffic p {
  margin-bottom: 0;
}

.traffic .data {
  font-size: 22px;
  color: #333;
  padding-top: 5px;
}

.todayTraffic {
  float: left;
  width: 55%;
  height: 380px;
  overflow: hidden;
}

.visitorInfo {
  margin-left: 55%;
  padding-left: 20px;
}

.visitorInfo .innerBox {
  height: 380px;
  overflow: hidden;
}

.visitorInfo__profile {
  display: table;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 0 0 110px;
  color: #888;
}

.visitorInfo__profile > li {
  display: table-cell;
  border-left: 2px solid #ddd;
  padding-left: 25px;
}

.visitorInfo__profile p {
  margin: 0;
}

.visitorInfo__profile .data {
  font-size: 22px;
}

.visitorInfo__table {
  font-size: 16px;
}

.visitorInfo__table tr {
  background: #fff !important;
}

.dialog-pro-preview {
  padding-bottom: 0;
}

.dialog-pro-preview .dialog__footer {
  text-align: right;
  padding: 8px 15px;
}

.dialog-pro-preview .dpp__img-wrap {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  position: relative;
}

.dialog-pro-preview .dpp__img {
  position: absolute;
  max-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.dialog-pro-preview .dpp__main {
  padding: 5px 0;
}

.dialog-pro-preview .dpp__option {
  border: solid #c0c0c0;
  border-width: 1px 0;
  margin-bottom: 0;
  color: #333;
  padding: 5px 0;
}

.dialog-pro-preview .dpp__option-title {
  font-weight: bold;
}

.dialog-pro-preview .dpp__option-info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid #ccc;
  padding: 0 5px;
  min-width: 42px;
  text-align: center;
  margin: 0 2px 5px 0;
}

.dialog-pro-preview .dpp__detail {
  padding: 10px 0;
  margin-bottom: 0;
}

.dialog-pro-preview .dpp__detail dd,
.dialog-pro-preview .dpp__detail ul {
  margin-bottom: 0;
}

.dialog-pro-preview .dpp__detail-list {
  font-size: 0;
}

.dialog-pro-preview .dpp__detail-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  min-width: 50%;
  font-size: 14px;
  vertical-align: top;
  padding-right: 5px;
}

.dialog-pro-preview .dpp__field {
  float: left;
  margin-right: 5px;
}

.dialog-pro-preview .dpp__value {
  overflow: hidden;
}

.dialog-pro-preview .dpp__btn-expand {
  border: 0;
  color: #90c320;
}

.dialog-form .form__query--block {
  display: block;
}

.dialog__body .form {
  margin-bottom: 0;
  margin-top: 20px;
}

.dialog__body .form:first-child {
  margin-top: 0;
}

.dialog__body .info__form > li {
  padding-left: 6em;
}

.dialog__body .info__form > li > .form__label {
  margin-left: -6em;
  width: 6em;
}

.dialog-batchImport .download {
  text-align: right;
}

.dialog-batchImport .info__form .form__query {
  min-width: 100%;
  width: 100%;
}

.dialog-batchImport .form__filetext .btn,
.dialog-batchImport .form__file {
  width: 80px;
}

.dialog-batchImport .form__label {
  cursor: default;
}

.dialog-batchDelivery .download {
  text-align: right;
}

.dialog-batchDelivery .info__form .form__query {
  min-width: 100%;
  width: 100%;
}

.dialog-batchDelivery .form__filetext .btn,
.dialog-batchDelivery .form__file {
  width: 80px;
}

.dialog-batchDelivery .form__label {
  cursor: default;
}

.dialog-replacementAdd .chooseAddType {
  margin-bottom: 10px;
}

.loading__main {
  min-width: 0;
  width: 102px;
  height: 102px;
  background: url(../images/loading.gif);
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* 解决时间插件年份列表超出 */
.laydate_top *{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
  /* .laydate_top{
      width: 18rem;
  }
  .laydate_body .laydate_y input {
      width: 4.5rem;
      margin-right: 1.2rem;
  }
  .laydate_top  .laydate_m input{
      width: 3rem;
      margin-right: 1.2rem;
  } */
  .timepicker__option-list {
  *zoom: 1;
}
.timepicker__option-list:before,
.timepicker__option-list:after {
  content: "";
  display: table;
}
.timepicker__option-list:after {
  clear: both;
}
.timepicker--inited {
  position: relative;
}
.timepicker--inited .timepicker__value {
  display: none;
}
.timepicker__display {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 28px;
}

.timepicker__btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 0;
  padding: 0 5px;
  margin: 0 2px;
}

.timepicker__btn:focus {
  outline: 0;
}

.timepicker__btn--focus {
  background: #f1f1f1;
}

.timepicker__options {
  position: absolute;
  background: #fff;
  display: none;
  z-index: 1;
  border: 1px solid #d2dae2;
  left: 0;
  top: 39px;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  text-align: center;
}

.timepicker__options--hours {
  width: 192px;
}

.timepicker__options--minutes,
.timepicker__options--seconds {
  width: 312px;
}

.timepicker__option {
  float: left;
  border: 0;
  width: 30px;
}

.timepicker__option--current {
  background: #1dbee2;
  color: #fff;
}

.timepicker__option-list {
  padding: 5px;
  line-height: 30px;
}